/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px 120px 50px 120px;
    position: relative;
    overflow: hidden;
}

.main-banner:after {
    content: "";
    background-image: url(../images/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-banner .left-content {
    margin-right: 15px;
}

.main-banner .left-content h2 {
    z-index: 2;
    position: relative;
    font-weight: 700;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 20px;
}

.main-banner .left-content p {
    margin-bottom: 45px;
    color: var(--secondary);
    font-weight: 400;
}

.main-banner .left-content .first-button {
    margin-right: 15px;
}

.main-banner .left-content .white-button {
    display: inline-block;
}

.main-banner .right-image {
    text-align: center;
    position: relative;
    z-index: 20;
}

.main-banner .right-image img {
    max-width: 710px;
    transition: transform 0.2s ease-in-out;
}
.main-banner .right-image img:hover {
    transform: scale(1.1);
}

.main-banner .left-content .white-button a {
    background-color: var(--primary);
    color: var(--bg-light) !important;
}